.toolbar {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.title {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: 0.9rem;
  color: var(--mat-sys-on-surface-variant);
}

.spacer {
  flex: 1;
}
