.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  gap: 0.5rem;
}

.full-table {
  width: 100%;
  margin-bottom: 1rem;
}
.table-filter {
  margin-bottom: 1rem;
  width: 100%;
  max-width: 300px;
}
