.settings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--mat-sys-surface-container-low);
  border-radius: 12px;
  max-width: 400px;

  h2 {
    margin: 0;
    font-weight: 600;
    color: var(--mat-sys-on-surface);
  }
}
