name: Build Auth-User Service

on:
  push:
    branches: [ main, develop ]
    paths:
      - 'ms-authuser/**'
  workflow_dispatch:

env:
  IMAGE_NAME: ms-authuser

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
    
    - name: Run tests
      working-directory: ./ms-authuser
      run: mvn clean test